body {
  font-family: 'Quahon', sans-serif;                                    
  font-size: 20px;                                            
}

header {
  background-color: rgb(6, 76, 145);
  color: white;
  padding: 1rem;
  
}

header h1 {
  font-size: 1,5rem;
  text-align: center;
}

.btn {
  box-shadow: 10px 5px 5px black;
}

.form {
  padding-top: 20px;
  font-size: 20px;
}

.listado {
  padding: 16px;
  background-color: #7FB3D5;
}